<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <user>
        <nickname>Chatar</nickname>
        <altnickname>Chatar|alt</altnickname>
        <username>chatar</username>
        <realname>Jára Chatař</realname>
        <email>jara@chatar.cz</email>
    </user>
    <events>
        <log-chat value="true"/>
        <rejoin-after-kick value="true"/>
        <clickable-links value="true"/>
        <ask-for-quit value="true"/>
    </events>
    <view>
        <display-topic value="true"/>
        <timestamp-enabled value="true"/>
        <timestamp-format>h:m</timestamp-format>
    </view>
    <blocked>
        <nicknames>py-bot</nicknames>
    </blocked>
    <commands>
        <command name="id">/nickserv identify %T</command>
        <command name="j">/join %T</command>
        <command name="msg">/privmsg slaps %T around a bit with a large trout</command>
        <command name="slap">/me slaps %T around a bit with a large trout</command>
    </commands>
</settings>
